<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>MTNSearchRoom</servlet-name>
        <servlet-class>Controller.Mtn.MTNSearchRoom</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mtnReq</servlet-name>
        <servlet-class>Controller.Mtn.mtnReq</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mtnEva</servlet-name>
        <servlet-class>Controller.Mtn.mtnEva</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>finishEva</servlet-name>
        <servlet-class>Controller.Mtn.finishEva</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchMtnReq</servlet-name>
        <servlet-class>Controller.Mtn.SearchMtnReq</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateChat</servlet-name>
        <servlet-class>Controller.Mtn.updateChat</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mtnProgress</servlet-name>
        <servlet-class>Controller.Mtn.mtnProgress</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchByStatus</servlet-name>
        <servlet-class>Controller.Mtn.searchByStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>setAppointment</servlet-name>
        <servlet-class>Controller.Mtn.setAppointment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mtnApp</servlet-name>
        <servlet-class>Controller.Mtn.mtnApp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminIndex</servlet-name>
        <servlet-class>Controller.adminIndex</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MTNSearchRoomAdmin</servlet-name>
        <servlet-class>Controller.Mtn.MTNSearchRoomAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateStatus</servlet-name>
        <servlet-class>Controller.Mtn.updateStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateAction</servlet-name>
        <servlet-class>Controller.Mtn.updateAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userIndex</servlet-name>
        <servlet-class>Controller.userIndex</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MTNSearchDate</servlet-name>
        <servlet-class>Controller.Mtn.MTNSearchDate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MTNSearchStuff</servlet-name>
        <servlet-class>Controller.Mtn.MTNSearchStuff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>testRichMCE</servlet-name>
        <servlet-class>Controller.testRichMCE</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchNews</servlet-name>
        <servlet-class>Controller.News.searchNews</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchNewsDate</servlet-name>
        <servlet-class>Controller.News.searchNewsDate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchNewsKw</servlet-name>
        <servlet-class>Controller.News.searchNewsKw</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createNews</servlet-name>
        <servlet-class>Controller.News.createNews</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editNews</servlet-name>
        <servlet-class>Controller.News.editNews</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmEditNews</servlet-name>
        <servlet-class>Controller.News.ConfirmEditNews</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>removeNews</servlet-name>
        <servlet-class>Controller.News.removeNews</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>recycleNews</servlet-name>
        <servlet-class>Controller.News.recycleNews</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getCurrentNewsByKw</servlet-name>
        <servlet-class>Controller.News.getCurrentNewsByKw</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApprovedKeycard</servlet-name>
        <servlet-class>Controller.AdminKeycard.ApprovedKeycard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RejectedKeycard</servlet-name>
        <servlet-class>Controller.AdminKeycard.RejectedKeycard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetKeycardRequestById</servlet-name>
        <servlet-class>Controller.AdminKeycardAJAX.GetKeycardRequestById</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddKeycardRequest</servlet-name>
        <servlet-class>Controller.UserKeycardAJAX.AddKeycardRequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckKeycardRequest</servlet-name>
        <servlet-class>Controller.UserKeycardAJAX.CheckKeycardRequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListAllMyRequest</servlet-name>
        <servlet-class>Controller.UserKeycardAJAX.ListAllMyRequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LostKeycardRequestDocUpload</servlet-name>
        <servlet-class>Controller.UserKeycardAJAX.LostKeycardRequestDocUpload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewKeycardRequestDocUpload</servlet-name>
        <servlet-class>Controller.UserKeycardAJAX.NewKeycardRequestDocUpload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetKeycardReqNew</servlet-name>
        <servlet-class>Controller.AdminKeycard.GetKeycardReqNew</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchKeycardByRoom</servlet-name>
        <servlet-class>Controller.UserKeycard.SearchKeycardByRoom</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminParcel</servlet-name>
        <servlet-class>Controller.parcel.adminParcel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addParcel</servlet-name>
        <servlet-class>Controller.parcel.addParcel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>pickParcel</servlet-name>
        <servlet-class>Controller.parcel.pickParcel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteParcel</servlet-name>
        <servlet-class>Controller.parcel.deleteParcel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>admParcelMgn</servlet-name>
        <servlet-class>Controller.parcel.admParcelMgn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>pickMgn</servlet-name>
        <servlet-class>Controller.parcel.pickMgn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteMgn</servlet-name>
        <servlet-class>Controller.parcel.deleteMgn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchDate</servlet-name>
        <servlet-class>Controller.parcel.searchDate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cardPrint</servlet-name>
        <servlet-class>Controller.parcel.cardPrint</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userParcel</servlet-name>
        <servlet-class>Controller.parcel.userParcel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchParcelDate</servlet-name>
        <servlet-class>Controller.parcel.searchParcelDate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getAllReq</servlet-name>
        <servlet-class>Controller.Decoration.getAllReq</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApproveDec</servlet-name>
        <servlet-class>Controller.Decoration.ApproveDec</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchDecRange</servlet-name>
        <servlet-class>Controller.Decoration.SearchDecRange</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchFilter</servlet-name>
        <servlet-class>Controller.Decoration.SearchFilter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>printDecSheet</servlet-name>
        <servlet-class>Controller.Decoration.printDecSheet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MTNSearchRoom</servlet-name>
        <url-pattern>/MTNSearchRoom</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mtnReq</servlet-name>
        <url-pattern>/mtnReq</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mtnEva</servlet-name>
        <url-pattern>/mtnEva</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>finishEva</servlet-name>
        <url-pattern>/finishEva</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchMtnReq</servlet-name>
        <url-pattern>/SearchMtnReq</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateChat</servlet-name>
        <url-pattern>/updateChat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mtnProgress</servlet-name>
        <url-pattern>/mtnProgress</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchByStatus</servlet-name>
        <url-pattern>/searchByStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>setAppointment</servlet-name>
        <url-pattern>/setAppointment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mtnApp</servlet-name>
        <url-pattern>/mtnApp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminIndex</servlet-name>
        <url-pattern>/adminIndex</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MTNSearchRoomAdmin</servlet-name>
        <url-pattern>/MTNSearchRoomAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateStatus</servlet-name>
        <url-pattern>/updateStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateAction</servlet-name>
        <url-pattern>/updateAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userIndex</servlet-name>
        <url-pattern>/userIndex</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MTNSearchDate</servlet-name>
        <url-pattern>/MTNSearchDate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MTNSearchStuff</servlet-name>
        <url-pattern>/MTNSearchStuff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>testRichMCE</servlet-name>
        <url-pattern>/testRichMCE</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchNews</servlet-name>
        <url-pattern>/searchNews</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchNewsDate</servlet-name>
        <url-pattern>/searchNewsDate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchNewsKw</servlet-name>
        <url-pattern>/searchNewsKw</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createNews</servlet-name>
        <url-pattern>/createNews</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editNews</servlet-name>
        <url-pattern>/editNews</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmEditNews</servlet-name>
        <url-pattern>/ConfirmEditNews</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>removeNews</servlet-name>
        <url-pattern>/removeNews</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>recycleNews</servlet-name>
        <url-pattern>/recycleNews</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getCurrentNewsByKw</servlet-name>
        <url-pattern>/getCurrentNewsByKw</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApprovedKeycard</servlet-name>
        <url-pattern>/ApprovedKeycard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RejectedKeycard</servlet-name>
        <url-pattern>/RejectedKeycard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetKeycardRequestById</servlet-name>
        <url-pattern>/GetKeycardRequestById</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddKeycardRequest</servlet-name>
        <url-pattern>/AddKeycardRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckKeycardRequest</servlet-name>
        <url-pattern>/CheckKeycardRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListAllMyRequest</servlet-name>
        <url-pattern>/ListAllMyRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LostKeycardRequestDocUpload</servlet-name>
        <url-pattern>/LostKeycardRequestDocUpload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewKeycardRequestDocUpload</servlet-name>
        <url-pattern>/NewKeycardRequestDocUpload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetKeycardReqNew</servlet-name>
        <url-pattern>/GetKeycardReqNew</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchKeycardByRoom</servlet-name>
        <url-pattern>/SearchKeycardByRoom</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminParcel</servlet-name>
        <url-pattern>/adminParcel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addParcel</servlet-name>
        <url-pattern>/addParcel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>pickParcel</servlet-name>
        <url-pattern>/pickParcel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteParcel</servlet-name>
        <url-pattern>/deleteParcel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admParcelMgn</servlet-name>
        <url-pattern>/admParcelMgn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>pickMgn</servlet-name>
        <url-pattern>/pickMgn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteMgn</servlet-name>
        <url-pattern>/deleteMgn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchDate</servlet-name>
        <url-pattern>/searchDate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cardPrint</servlet-name>
        <url-pattern>/cardPrint</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userParcel</servlet-name>
        <url-pattern>/userParcel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchParcelDate</servlet-name>
        <url-pattern>/searchParcelDate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getAllReq</servlet-name>
        <url-pattern>/getAllReq</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApproveDec</servlet-name>
        <url-pattern>/ApproveDec</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchDecRange</servlet-name>
        <url-pattern>/SearchDecRange</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchFilter</servlet-name>
        <url-pattern>/SearchFilter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>printDecSheet</servlet-name>
        <url-pattern>/printDecSheet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
